* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: hsl(0, 0%, 80%);
  min-height: 80vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0px;
  line-height: 1.5;
  position: relative;
}

.cover-image {
  height: 95vh;
  margin-top: -70px;
  font-size: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 4px #df016b solid;
}

/* section styling */

section {
  background-color: black;
  color:rgb(194, 192, 192);
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
}

section h2 {
  background-color: black;
  color: rgb(194, 192, 192);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
  margin: 20px 40px;

}

section p {
  background-color: black;
  color: rgb(194, 192, 192);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.3rem;
  margin: 20px 40px;
}

hr {
  border: solid #46cfcd 2px;
  margin:0;
  padding: 0px 10px;
}
