/* This section is styling for most pages. Styling for About Me image is lower on this file. */
p {
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(194, 192, 192);
    margin: 20px;
    font-size: 1.3rem;
    text-wrap: wrap;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(194, 192, 192);
    font-size: xx-large;
    margin: 20px;
    margin-bottom: 0px;
}

.bottom-row {
    margin-bottom: 20px;
}

/* Specific Page Styling */

/* About Page  */
.aboutPhoto {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 80%;
    object-fit: contain;
    border-radius: 3%;
}

@media only screen and (max-width: 1199px) {
    .aboutPhoto {
        width: 100%;
        display: fixed;
        margin-top: 0;
        object-fit: contain;
    }
}

@media only screen and (max-width: 991px) {
    .aboutPhoto {
        width: 100%;
        margin: auto;
        object-fit: contain;
    }

    #about-first-paragraph {
        margin-top: -20%;
    }
}

